@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
/* Variaveis */

:root{
  --cor-fundo: rgb(201, 201, 201);
  --cor-hover: rgb(34, 41, 37);
  --cor-primaria: rgb(0, 0, 0);
}

/* Conteudo principal */

body{
  background-color: var(--cor-fundo);
  font-family: poppins, sans-serif;
  font-size: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-size-adjust: auto;
	
	transition: background 0.2s linear;
}

/* Logos Header */

.logos-hospital{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

hr{
  box-shadow: 4px 0 5px #9e9e9e;
  position: center;
}

/*Menu Dropdown*/

.dp-menu ul{
  list-style-type: none;
  padding: 0;
}

.dp-menu ul{
  background-color: var(--cor-fundo);
	
}

.dp-menu ul li{
  display: inline;
  position: relative;
	z-index: 1;
}

.dp-menu ul li a{
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background .3s;
	
}

.dp-menu ul li a::after{
  content: " ";
  width: 0%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s ease-in-out;
	
}
.dp-menu ul li a:hover::after{
  width:100%;
}
/*sub-Menu*/

.dp-menu ul ul{
  display: none;
  left: 0;
  position: absolute;
  transition: all .6s;
}

.dp-menu ul li:hover ul{
  display: block;
}

.dp-menu ul ul{
  width: 150px;
  
}

.dp-menu ul ul li a{
  display: block;
}

/*Conteudo recolhivel*/

.conteudo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	/* align-content: center; */
	flex-wrap: nowrap;
	flex-direction: column;
}

.info {
	display: flex;
	justify-content: center;
	padding: 0;
	width: 40em;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left: 25vw;
	margin-right: 25vw;
	margin-top: 5vh;
}

.info h2 {
	border: 2px solid #0285ca;
	border-radius: 8px;
	cursor: pointer;
	padding: 30px;
	font-size: 1em;
}

.info {
	position: relative;
}

.p-info {
	border-bottom: 2px solid #0285ca;
	border-left: 2px solid #0285ca;
	border-right: 2px solid #0285ca;
	border-radius: 0 0 8px 8px;
	margin-top: -15px;
	margin-bottom: 32px;
	padding: 0 30px;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: 0.5s all ease-in-out;
	line-height: 20px;
}

.p-info li {
	list-style-type: none;
}

.info img {
	position: absolute;
	top: 30px;
	right: 10px;
}

.info.ativa .p-info {
	height: fit-content;
	opacity: 1;
	padding: 24px;
}

.info.ativa .arrow{
	transform: rotate(90deg);
}
.info.ativa .arrow{
	transition: 0.5s all ease;
}

.img-hosp img{
	top:20px;
	left: 10px;
	width: 90px;
	height: 40px;
}

.info .img-esp{
	position: absolute;
	border-radius: 8px;
	top: 8px;
	left: 10px;
	width: 110px;
	height: 62px;
}
footer{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	font-family: sans-serif;
	margin-bottom: 10px;
	font-size: 12px;
}

footer a{
	font-family: 'poppins',sans-serif;
	text-decoration: none;
	color: #000033;
}

a{
	text-decoration: underline;
	color: #000033;
}
@media screen and (max-width: 600px){
	body{
		display: grid;
		align-items: center;
		justify-content: center;
		width: 87vw;
		height: 1vmax;
		padding: 20px;
		margin: 20px;
	}
	.conteudo {
		display: block;
		align-items: center;
		justify-content: center;
		gap: 64px;
		padding: 64px 80px;
	}

	.info {
		display: block;
		justify-content: center;
		margin: 0;
		padding: 0;
		width: 30em;
	}
	footer{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	font-family: sans-serif;
	margin-bottom: 10px;
	font-size: 12px;
	}
}